{% extends 'base.html' %}
{% block title %}
    Home
{% endblock title %}
{% block body %}

<h1>Add a todo</h1>
<div class="container my-2">
    <form method="POST">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" name="title" id="title" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="desc" class="form-label">Description</label>
            <input type="text" class="form-control" name="desc" id="desc">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<div class="container my-4">
    <h1>Your todos are here</h1>
    <table class="table">

        {% if allTodo|length==0 %}
        <div class="alert alert-dark" role="alert">
            No Records Found in your Todo
        </div>
        {% else %}
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Date Created</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for todo in allTodo %}
            <tr>
                <td>{{todo.sno}}</td>
                <td>{{todo.title}}</td>
                <td>{{todo.desc}}</td>
                <td>{{todo.date_created}}</td>
                <td>
                    <a href="/delete/{{todo.sno}}" type="button" class="btn btn-dark btn-sm mx-1 mb-1">Delete</button>
                        <a href="/update/{{todo.sno}}" type="button" class="btn btn-dark btn-sm mx-1">Update</button>
                </td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
{% endblock body %}